[package]
name = "fpdec"
version = "0.4.1"
edition = "2021"
authors = ["Michael Amrhein <michael@adrhinum.de>"]
description = "Decimal fixed-point arithmetic."
readme = "README.md"
homepage = "https://github.com/mamrhein/fpdec.rs"
repository = "https://github.com/mamrhein/fpdec.rs"
documentation = "https://docs.rs/fpdec/"
license-file = "LICENSE.TXT"
keywords = ["number", "decimal", "fixed-point", "arithmetics"]
categories = ["data-structures", "mathematics"]

[dependencies]
fpdec-core = { path = "fpdec-core", version = "0.4.1" }
fpdec-macros = { path = "fpdec-macros", version = "0.4.1" }
num-traits = { version = "0.2.0", optional = true }

[features]
default = ["std"]
std = []
packed = []

[workspace]
members = [".", "fpdec-core", "fpdec-macros"]
